[workspace]
name = "Waterlagen"
channels = ["conda-forge"]
platforms = ["win-64", "linux-64"]

[dependencies]
python = ">=3.11"
gdal = "*"
geopandas = "*"
pydantic = ">=2"
pydantic-settings = "*"
rasterio = "*"
numpy = "*"
requests = "*"
shapely = "*"
affine = "*"

[feature.dev.dependencies]
mypy = "*"
pip = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[feature.dev.tasks]
test-cov = "pytest --cov=src/waterlagen --cov-report=term-missing"
pre-commit-install = "pre-commit install"

[feature.docs.dependencies]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-jupyter = "*"
pymdown-extensions = "*"
# mkdocstrings: installeer met python handler
# (conda-forge heeft vaak mkdocstrings-python als aparte pkg)
mkdocstrings = "*"
mkdocstrings-python = "*"

[feature.docs.tasks]
docs-serve = "mkdocs serve --livereload"
docs-build = "mkdocs build --strict"
docs-deploy = "mkdocs gh-deploy --force"

[pypi-dependencies]
waterlagen = { path = ".", editable = true }
# let this be handled by VSCode as the Jupyter IDE doesn't seem to like pre-installed ipykernel: ipykernel = "*"

[environments]
default = ["dev"]
docs = ["docs", "dev"]
