:root  > * {
  --md-primary-fg-color: #007db8;
  --md-primary-fg-color--light: #2e9fd0;
  --md-primary-fg-color--dark: #006a9c;
}

.md-typeset table td:first-child code {
  white-space: nowrap;
}

.md-typeset .review-status {
  margin-top: 2rem;
  color: var(--md-default-fg-color--light);
  font-size: 0.7rem;
}
